.form-group{
    width: 60%;
    margin: auto;
    height: max-content;
}
.form-btn{
    width: 60%;
    margin: auto;
}

.headingmy{
    background: black;
    align-items: center;
}
.headingmy h1{
    text-align: center;
    color: rgb(214, 175, 2);
    margin: 2%;
    padding: 2%;
}